[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/MurphyMarkW/prezto.git
[submodule ".config/nvim/bundle/haskell-vim"]
	path = .config/nvim/modules/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".config/nvim/bundle/vim-airline"]
	path = .config/nvim/modules/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".config/nvim/bundle/vim-dockerfile"]
	path = .config/nvim/modules/vim-dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".config/nvim/bundle/vim-javascript"]
	path = .config/nvim/modules/vim-javascript
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".config/nvim/modules/nvim-deoplete"]
	path = .config/nvim/modules/nvim-deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".config/nvim/modules/vim-pathogen"]
	path = .config/nvim/modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".config/nvim/modules/vim-go"]
	path = .config/nvim/modules/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".config/nvim/modules/vim-syntastic"]
	path = .config/nvim/modules/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".config/nvim/vim-colors-solarized"]
	path = .config/nvim/modules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".config/nvim/modules/vim-colors-permafrost"]
	path = .config/nvim/modules/vim-colors-permafrost
	url = https://github.com/MurphyMarkW/vim-colors-permafrost
[submodule ".config/nvim/modules/rust.vim"]
	path = .config/nvim/modules/vim-rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".config/nvim/modules/vim-airline-themes"]
	path = .config/nvim/modules/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".config/nvim/modules/neomake"]
	path = .config/nvim/modules/nvim-neomake
	url = https://github.com/neomake/neomake.git
[submodule ".config/nvim/modules/vim-supertab"]
	path = .config/nvim/modules/vim-supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".config/nvim/modules/vim-racer"]
	path = .config/nvim/modules/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
